# Dependencies
node_modules/

# Build outputs
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing & Coverage
coverage/
playwright-report/
test-results/

# Vite temporary files
.vite/

# Editor / OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
